Algorithm: SVM
#Hyperparameters
Kernels : linear, poly , rbf, sigmoid
C = 20
SMOTE oversampling

In [1]:
import numpy as np;
import pandas as pd;
import matplotlib.pyplot as plt
import sklearn.metrics as sm
import imblearn

from sklearn import svm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from imblearn.over_sampling import SMOTE
import seaborn as sb

In [2]:

# read_file = pd.read_excel ("data.xlsx")
# read_file.to_csv ("hypertensionDataSet.csv",  index = None, header=True)

In [62]:
df = pd.read_csv("converted.csv", index_col = 0)
df = df.drop_duplicates()
print(df.head())

C:\temp\ipykernel_13892\982531536.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("converted.csv", index_col = 0)

             GSM827665 GSM827666 GSM827667 GSM827668 GSM827669 GSM827670  \
Sample_id
ILMN_1343291   17.1675   17.1925   16.8778   16.6716   16.4631   17.2019
ILMN_1343295   13.2586   13.6122   11.9146    12.423   11.8728   13.5163
ILMN_1651199    7.9112    7.8667    7.9547    7.9057    7.9558    7.9515
ILMN_1651209    8.1231    8.1487    7.8337    8.0147    7.9728    7.9888
ILMN_1651210    7.7213    7.9313    7.9778    7.9647    7.9177    7.8818

             GSM827671 GSM827672 GSM827673 GSM827674  ... GSM827795 GSM827796  \
Sample_id                                             ...
ILMN_1343291   17.1884   17.4337   17.2709   17.3198  ...   17.2331   17.3595
ILMN_1343295    13.655   13.7259   12.9336   13.0703  ...   13.3845   13.8344
ILMN_1651199    7.9634    7.8013    7.6717    7.8553  ...    7.7692    7.7799
ILMN_1651209    8.1232    8.2458    7.9695    8.2951  ...    8.2939    8.0262
ILMN_1651210    7.7634    7.6572    7.8589    7.7663  ...    7.8622    7.9078

             GSM827797 GSM827798 GSM827799 GSM827800 GSM827801 GSM827802  \
Sample_id
ILMN_1343291   17.4841   17.1282   17.2713   17.3791   17.4745   16.9428
ILMN_1343295   13.8248   13.3261   13.4856   12.9675   13.8544   13.6454
ILMN_1651199    7.9999     7.763    7.7138    7.9862    7.9643     7.755
ILMN_1651209    8.0504    8.3649    8.1343    8.0021    8.0655    8.0698
ILMN_1651210    7.8086    7.8273    8.0388    7.9582     7.924    7.9223

             GSM827803 GSM827804
Sample_id
ILMN_1343291   16.6848   17.0084
ILMN_1343295   12.6013   13.4689
ILMN_1651199    8.0183    7.8802
ILMN_1651209    7.9077    8.3903
ILMN_1651210    7.8709    7.8023

[5 rows x 140 columns]

In [63]:
df = df.T.drop_duplicates();
print(df.head())

Sample_id ILMN_1343291 ILMN_1343295 ILMN_1651199 ILMN_1651209 ILMN_1651210  \
GSM827665      17.1675      13.2586       7.9112       8.1231       7.7213
GSM827666      17.1925      13.6122       7.8667       8.1487       7.9313
GSM827667      16.8778      11.9146       7.9547       7.8337       7.9778
GSM827668      16.6716       12.423       7.9057       8.0147       7.9647
GSM827669      16.4631      11.8728       7.9558       7.9728       7.9177

Sample_id ILMN_1651221 ILMN_1651228 ILMN_1651229 ILMN_1651230 ILMN_1651232  \
GSM827665       8.1344      16.8012       9.1273       7.7285       8.4654
GSM827666       8.0763       16.921       8.9327       7.9633       8.0888
GSM827667       7.9839      16.2536        8.153       8.2885        8.033
GSM827668       8.0377      16.0069       8.4219       8.2889       7.9411
GSM827669       7.9714      15.9849       8.2749       8.2642        7.881

Sample_id  ... ILMN_2415776 ILMN_2415786 ILMN_2415826 ILMN_2415898  \
GSM827665  ...       8.4997      13.2497       7.9965      10.9044
GSM827666  ...       8.5099      12.8838       8.1013      10.7322
GSM827667  ...       8.4113      12.0219       8.0164       8.7911
GSM827668  ...       8.3346      12.2631       7.9906        9.173
GSM827669  ...       8.3241      12.1453        7.716       8.6359

Sample_id ILMN_2415911 ILMN_2415926 ILMN_2415949 ILMN_2415979 ILMN_2416019  \
GSM827665       9.5198       9.3447       9.0144      13.8879       7.6464
GSM827666       9.5773       9.0909       9.3277      13.9502        7.881
GSM827667       8.4079       8.5683       8.3302      12.1534       7.7238
GSM827668       8.9501       8.7044       8.6883      12.3272       7.6789
GSM827669       8.7143       8.6545       8.3855      12.4533       7.6853

Sample_id  Results
GSM827665  control
GSM827666  control
GSM827667  control
GSM827668  control
GSM827669  control

[5 rows x 48804 columns]

In [64]:
print(df.shape)

(140, 48804)

In [65]:

print(df.head())

Sample_id ILMN_1343291 ILMN_1343295 ILMN_1651199 ILMN_1651209 ILMN_1651210  \
GSM827665      17.1675      13.2586       7.9112       8.1231       7.7213
GSM827666      17.1925      13.6122       7.8667       8.1487       7.9313
GSM827667      16.8778      11.9146       7.9547       7.8337       7.9778
GSM827668      16.6716       12.423       7.9057       8.0147       7.9647
GSM827669      16.4631      11.8728       7.9558       7.9728       7.9177

Sample_id ILMN_1651221 ILMN_1651228 ILMN_1651229 ILMN_1651230 ILMN_1651232  \
GSM827665       8.1344      16.8012       9.1273       7.7285       8.4654
GSM827666       8.0763       16.921       8.9327       7.9633       8.0888
GSM827667       7.9839      16.2536        8.153       8.2885        8.033
GSM827668       8.0377      16.0069       8.4219       8.2889       7.9411
GSM827669       7.9714      15.9849       8.2749       8.2642        7.881

Sample_id  ... ILMN_2415776 ILMN_2415786 ILMN_2415826 ILMN_2415898  \
GSM827665  ...       8.4997      13.2497       7.9965      10.9044
GSM827666  ...       8.5099      12.8838       8.1013      10.7322
GSM827667  ...       8.4113      12.0219       8.0164       8.7911
GSM827668  ...       8.3346      12.2631       7.9906        9.173
GSM827669  ...       8.3241      12.1453        7.716       8.6359

Sample_id ILMN_2415911 ILMN_2415926 ILMN_2415949 ILMN_2415979 ILMN_2416019  \
GSM827665       9.5198       9.3447       9.0144      13.8879       7.6464
GSM827666       9.5773       9.0909       9.3277      13.9502        7.881
GSM827667       8.4079       8.5683       8.3302      12.1534       7.7238
GSM827668       8.9501       8.7044       8.6883      12.3272       7.6789
GSM827669       8.7143       8.6545       8.3855      12.4533       7.6853

Sample_id  Results
GSM827665  control
GSM827666  control
GSM827667  control
GSM827668  control
GSM827669  control

[5 rows x 48804 columns]

In [66]:
df.isnull().sum()

Sample_id
ILMN_1343291    0
ILMN_1343295    0
ILMN_1651199    0
ILMN_1651209    0
ILMN_1651210    0
               ..
ILMN_2415926    0
ILMN_2415949    0
ILMN_2415979    0
ILMN_2416019    0
Results         0
Length: 48804, dtype: int64

In [67]:
df.describe()

Sample_id,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_2415776,ILMN_2415786,ILMN_2415826,ILMN_2415898,ILMN_2415911,ILMN_2415926,ILMN_2415949,ILMN_2415979,ILMN_2416019,Results
count,140.0000,140.0000,140.0000,140.0000,140.0000,140.0000,140.0000,140.0000,140.0000,140.0000,...,140,140,140,140,140,140,140,140,140,140
unique,139.0000,140.0000,139.0000,138.0000,135.0000,138.0000,139.0000,140.0000,137.0000,139.0000,...,139,140,140,138,139,138,138,140,140,6
top,17.3239,13.2586,7.7958,8.1481,7.9582,8.0857,16.6552,9.1273,7.8587,7.9462,...,8.0588,13.2497,7.9965,10.7322,9.6372,9.3068,9.308,13.8879,7.6464,control
freq,2.0000,1.0000,2.0000,2.0000,2.0000,2.0000,2.0000,1.0000,3.0000,2.0000,...,2,1,1,2,2,2,2,1,1,41

In [68]:
df_features = list(df.columns)
#print(df_features)

In [69]:
df.Results.value_counts()

control                                              41
Scleroderma with Pulmonary Arterial Hypertension     41
Idiopathic Pulmonary Arterial Hypertension           30
Scleroderma only                                     19
Interstitial Lung Disease                             8
Scleroderma with Pulmonary Arterial Hypertension      1
Name: Results, dtype: int64

In [70]:
def map_results(inpt):
    if inpt == 'control':
        return 0;

    else:
        return 1;

In [71]:
df['Results'] = df['Results'].apply(map_results)

In [72]:
print(df.head())

Sample_id ILMN_1343291 ILMN_1343295 ILMN_1651199 ILMN_1651209 ILMN_1651210  \
GSM827665      17.1675      13.2586       7.9112       8.1231       7.7213
GSM827666      17.1925      13.6122       7.8667       8.1487       7.9313
GSM827667      16.8778      11.9146       7.9547       7.8337       7.9778
GSM827668      16.6716       12.423       7.9057       8.0147       7.9647
GSM827669      16.4631      11.8728       7.9558       7.9728       7.9177

Sample_id ILMN_1651221 ILMN_1651228 ILMN_1651229 ILMN_1651230 ILMN_1651232  \
GSM827665       8.1344      16.8012       9.1273       7.7285       8.4654
GSM827666       8.0763       16.921       8.9327       7.9633       8.0888
GSM827667       7.9839      16.2536        8.153       8.2885        8.033
GSM827668       8.0377      16.0069       8.4219       8.2889       7.9411
GSM827669       7.9714      15.9849       8.2749       8.2642        7.881

Sample_id  ... ILMN_2415776 ILMN_2415786 ILMN_2415826 ILMN_2415898  \
GSM827665  ...       8.4997      13.2497       7.9965      10.9044
GSM827666  ...       8.5099      12.8838       8.1013      10.7322
GSM827667  ...       8.4113      12.0219       8.0164       8.7911
GSM827668  ...       8.3346      12.2631       7.9906        9.173
GSM827669  ...       8.3241      12.1453        7.716       8.6359

Sample_id ILMN_2415911 ILMN_2415926 ILMN_2415949 ILMN_2415979 ILMN_2416019  \
GSM827665       9.5198       9.3447       9.0144      13.8879       7.6464
GSM827666       9.5773       9.0909       9.3277      13.9502        7.881
GSM827667       8.4079       8.5683       8.3302      12.1534       7.7238
GSM827668       8.9501       8.7044       8.6883      12.3272       7.6789
GSM827669       8.7143       8.6545       8.3855      12.4533       7.6853

Sample_id Results
GSM827665       0
GSM827666       0
GSM827667       0
GSM827668       0
GSM827669       0

[5 rows x 48804 columns]

In [73]:
X = df.drop(["Results"], axis =1);
Y = df["Results"]

In [74]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest

fs = SelectKBest(score_func=mutual_info_classif, k=100)
X_selected = fs.fit_transform(X, Y)

In [75]:
cols = fs.get_support(indices=True)

In [76]:
print(cols)

[   29   800  1062  1122  1554  2117  2253  2793  2902  3092  3646  3841
  4222  4309  4352  4392  4406  4663  5147  5776  6052  6274  7700  7765
  8065  8555  8611  8884  9083  9212  9783 10422 10556 10800 10862 11307
 11383 11430 12414 12506 12853 13117 13409 14508 15193 15566 15849 15891
 16487 16986 17369 17746 19295 19343 19491 19770 20004 20293 20478 20875
 21087 21285 21314 22014 22109 22413 22589 23012 23071 23219 24036 24524
 25316 25743 26047 26478 26839 27020 27039 27758 28303 28443 33015 35797
 36738 38840 39308 41729 42310 42398 42835 43671 44495 44496 45196 45549
 46343 46776 47180 48511]

In [77]:
X_se = df.iloc[:,cols]

In [78]:
X_se.to_csv("selected_M_best100.csv", encoding='utf-8', index=False)